<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                    http://ec2-54-219-40-60.us-west-1.compute.amazonaws.com:9000/sonarqube
                </sonar.host.url>
            </properties>
        </profile>
    </profiles>
</settings>
